<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头像</string>
		<key>type</key>
		<string>show</string>
		<key>jumpto</key>
		<string>ModifyAvatarViewController</string>
		<key>tip</key>
		<string>点击更改头像</string>
	</dict>
	<dict>
		<key>title</key>
		<string>昵称</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyNameViewController</string>
		<key>tip</key>
		<string>填写真实姓名让你的朋友更快找到你</string>
	</dict>
	<dict>
		<key>title</key>
		<string>年龄</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyBirthdayViewController</string>
		<key>tip</key>
		<string>选择生日，系统自动计算年龄和星座</string>
	</dict>
	<dict>
		<key>title</key>
		<string>星座</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyBirthdayViewController</string>
		<key>tip</key>
		<string>选择生日，系统自动计算年龄和星座</string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>empty</string>
	</dict>
	<dict>
		<key>title</key>
		<string>状态</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyMoodViewController</string>
		<key>tip</key>
		<string>编辑状态</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情感状况</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyQGZKViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家乡</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyHometownViewController</string>
		<key>tip</key>
		<string>来自哪里</string>
	</dict>
	<dict>
		<key>title</key>
		<string>所在地</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyCCMDViewController</string>
		<key>tip</key>
		<string>所在地</string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>empty</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公司</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyBaseViewController</string>
		<key>tip</key>
		<string>填写公司，发现同事</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学校</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyBaseViewController</string>
		<key>tip</key>
		<string>填写学校，发现校友</string>
	</dict>
	<dict>
		<key>title</key>
		<string>职业/专业</string>
		<key>type</key>
		<string>show</string>
		<key>content</key>
		<string></string>
		<key>jumpto</key>
		<string>ModifyMajorViewController</string>
		<key>tip</key>
		<string>填写职业/专业，发现同行</string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>empty</string>
	</dict>
</array>
</plist>
