<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头像</string>
		<key>name</key>
		<string></string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>昵称</string>
		<key>name</key>
		<string>username </string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>年龄</string>
		<key>name</key>
		<string>age</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>星座</string>
		<key>name</key>
		<string>constellation</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>状态</string>
		<key>name</key>
		<string>mood</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>家乡</string>
		<key>name</key>
		<string>hometown</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>所在地</string>
		<key>name</key>
		<string>location</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>公司</string>
		<key>name</key>
		<string>company</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>学校</string>
		<key>name</key>
		<string>school</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>职业/专业</string>
		<key>name</key>
		<string>career</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>创建时间</string>
		<key>name</key>
		<string>createTime</string>
		<key>content</key>
		<string></string>
	</dict>
</array>
</plist>
