<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>empty</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>开启资料加锁模式</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>empty</string>
			<key>withoutLine</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>type</key>
			<string>explanation</string>
			<key>title</key>
			<string>选择解锁游戏：</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>数字拼图</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>猜数字</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>empty</string>
			<key>withoutLine</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>type</key>
			<string>explanation</string>
			<key>title</key>
			<string>设置游戏难度：</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>简单</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>中等</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>困难</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>empty</string>
		</dict>
		<dict>
			<key>type</key>
			<string>normal</string>
			<key>title</key>
			<string>游戏试玩</string>
		</dict>
	</array>
</array>
</plist>
