<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>计算机/互联网/通信</string>
		<key>picture</key>
		<string>major0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生产/工艺/制造</string>
		<key>picture</key>
		<string>major1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>医疗/护理/制药</string>
		<key>picture</key>
		<string>major2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>金融/银行/投资/保险</string>
		<key>picture</key>
		<string>major3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商务/服务/个体经营</string>
		<key>picture</key>
		<string>major4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文化/广告/传媒</string>
		<key>picture</key>
		<string>major5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐/艺术/表演</string>
		<key>picture</key>
		<string>major6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>律师/法务</string>
		<key>picture</key>
		<string>major7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>教育/培训</string>
		<key>picture</key>
		<string>major8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公务员/行政/事业单位</string>
		<key>picture</key>
		<string>major9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模特/空姐</string>
		<key>picture</key>
		<string>major10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学生</string>
		<key>picture</key>
		<string>major11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他行业</string>
		<key>picture</key>
		<string></string>
	</dict>
</array>
</plist>
