<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>empty</string>
	</dict>
	<dict>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>账号管理</string>
		<key>withDetail</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>empty</string>
	</dict>
	<dict>
		<key>withDetail</key>
		<string>1</string>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>通知设置</string>
	</dict>
	<dict>
		<key>withDetail</key>
		<string>1</string>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>安全设置</string>
	</dict>
	<dict>
		<key>withDetail</key>
		<string>1</string>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>个性化设置</string>
	</dict>
	<dict>
		<key>type</key>
		<string>empty</string>
	</dict>
	<dict>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>清空消息列表</string>
	</dict>
	<dict>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>清空聊天记录</string>
	</dict>
	<dict>
		<key>type</key>
		<string>normal</string>
		<key>title</key>
		<string>清空缓存</string>
	</dict>
</array>
</plist>
